#heading {
    font-family: Times;
    font-weight: bold;
}

#subHeading {
    font-family: Times;
    font-style: italic;
}

.panel-title {
    font-weight: bold;
}

th {
    font-weight: bold;
}

body {
    background-image: url(../Image/2018-03-29T141701Z_1_LYNXMPEE2S16U_RTROPTP_4_INDIA-UNEMPLOYMENT-RAILWAYS.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}